[submodule ".registry"]
	path = .registry
	url = https://github.com/robitalec/robitalec.r-universe.dev
	branch = HEAD
[submodule "spatsoc"]
	path = spatsoc
	url = https://github.com/ropensci/spatsoc
[submodule "ScaleInMultilayerNetworks"]
	path = ScaleInMultilayerNetworks
	url = https://github.com/robitalec/ScaleInMultilayerNetworks
[submodule "irg"]
	path = irg
	url = https://github.com/robitalec/irg
[submodule "hwig"]
	path = hwig
	url = https://github.com/robitalec/hwig
[submodule "camtrapmonitoring"]
	path = camtrapmonitoring
	url = https://github.com/robitalec/camtrapmonitoring
[submodule "SocCaribou"]
	path = SocCaribou
	url = https://github.com/wildlifeevoeco/SocCaribou
[submodule "distanceto"]
	path = distanceto
	url = https://github.com/robitalec/distance-to
[submodule "preparelocs"]
	path = preparelocs
	url = https://github.com/robitalec/prepare-locs
[submodule "2023.CSEE.reproducible.workflows.workshop"]
	path = 2023.CSEE.reproducible.workflows.workshop
	url = https://github.com/robitalec/2023-CSEE-reproducible-workflows-workshop
[submodule "targets.rgee.extract"]
	path = targets.rgee.extract
	url = https://github.com/robitalec/targets-rgee-extract
